<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head')%> 

<body>

    <%- include('../partials/header')%> 

   <main>

    <div class="contenido-perfil">

    <section class="perfil-img">
        <p>¡Hola! <% if (typeof user !='undefined') { %>
            <%= user.firstName %> 
        <% } %><p>
        <img src="/images/users/<%= user.avatar %>" alt="imagen perfil de usuario">
        
        
    </section>

    <section class="perfil-datos-usuario">

      <p> <a href="/usuario/editProfile">Editar mis datos</a></p>


    </section>

</div>

   </main>

   <%- include('../partials/footer')%>

</body>
</html>